{% extends 'template.html' %}
{% block body_content %}
    {% load crispy_forms_tags %}
    <body>
    <div class="card" style="width: 18rem; margin:0 auto">
        <div class="card-body">
            <form id="form" method="post">
                <div class="mb-3">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <div class="modal-footer d-block">
                    <div class="container">
                        <div class="col-md-12 text-center">
                            <a href="{% url 'currency_app:bank-list' %}" class="button">Back</a>
                            <button type="submit" class="btn btn-warning">Add</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
{% endblock body_content %}
</body>
</html>