{% extends 'template.html' %}
{% block body_content %}
    {% load crispy_forms_tags %}
    <div class="card" style="width: 18rem; margin:0 auto">
        <div class="card-body">
            <form action="." method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="modal-footer d-block">
                    <button type="submit" value="Submit" class="btn btn-warning float-end">Update</button>
                </div>
            </form>
        </div>
    </div>
{% endblock body_content %}