{% extends 'template.html' %}
{% block body_content %}
<body>
   <div class="card" style="width: 18rem; margin:0 auto">
      <div class="card-body">
         <label for="id_name">Name:</label>
         <h5 class="card-title">{{object.name}}</h5>
         <label for="id_name">Url-origin:</label>
         <p class="card-text">
         <a href="{{object.origin_url}}" target="blank">{{object.origin_url}}</a>
         </p>
         <label for="id_name">Url:</label>
         <p class="card-text">
            <a href="{{object.url}}" target="blank">{{object.url}}</a>
         </p>
      </div>
   </div>
   <p>
   <div class="col-md-12 text-center">
      <button onclick='location.href="{% url 'currency_app:bank-list' %}"' class="btn btn-primary">Back</button>
   </div>
   {% endblock body_content %}
</body>
</html>