{# Load the tag library #}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<style>
 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
 body {
     min-height: 81.4vh;
     background: linear-gradient(0deg, #fff, 50%, rgb(210, 231, 252));
     font-family: 'Quicksand', sans-serif;
     font-weight: bold;
     background-repeat: no-repeat;
     overflow: hidden
 }
</style>
<body>
     <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
        <!-- Click on Modal Button -->
        <button type="button" class="btn btn-primary mx-auto d-block mt-5" data-bs-toggle="modal" data-bs-target="#ContactUs">
            Contact Us
        </button>
        <!-- Modal -->
        <div class="modal fade" id="ContactUs" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label class="form-label">Email Address</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="example@gmail.com" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Subject</label>
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Message</label>
                                <textarea type="text" maxlength="255"  cols="5" rows="5" class="form-control" id="message" name="message" placeholder="Your message here" /></textarea>
                            </div>
                            <div class="modal-footer d-block">
                                <button type="submit" class="btn btn-warning float-end">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>