{# Load the tag library #}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card text-center">
  <div class="card-header">
    <p>
      <p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Welcome to currency App</h5>
    <p class="card-text">Use the following menu to navigate</p>
    <a href="currency/rate/list/" class="btn btn-primary">Rate list</a>
    <p><p>
    <a href="currency/bank/list/" class="btn btn-primary">Bank list</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
</body>
</html>