{% extends 'template.html' %}
{% block body_content %}
    {% load static %}

    {% if request.user.is_authenticated %}
        <div class="row justify-content-center">
            <div class="col-auto">
                <table class="table text-center table-responsive">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Type</th>
                        <th scope="col">Sale/Buy</th>
                        <th scope="col">Bank</th>
                        {% if request.user.id == 1 %}
                            <th scope="col">View</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for ls_element in object_list %}
                        <tr>
                            <td class="align-middle" scope="row"><small>{{ ls_element.created }}</small></td>
                            {% if ls_element.moneytype == 0 %}
                                <td><img width="50" src="{% static 'usd.png' %}"></td>
                            {% elif ls_element.moneytype == 1 %}
                                <td><img width="50" src="{% static 'eur.png' %}"></td>
                            {% endif %}
                            </td>
                            <td class="align-middle"><strong><b>{{ ls_element.sale }} /
                                {{ ls_element.buy }}
                            <td><i>
                                {% if ls_element.bank.code_name == "vkurse" %}
                                    <img class="pic" width="50" src="{% static 'vkurse.jpg' %}">
                                {% elif ls_element.bank.code_name == "privatbank" %}
                                    <img class="pic" width="50" src="{% static 'privatbank.jpg' %}">
                                {% elif ls_element.bank.code_name == "monobank" %}
                                    <img class="pic" width="50" src="{% static 'monobank.png' %}">
                                {% elif ls_element.bank.code_name == "kredobank" %}
                                    <img class="pic" width="50" src="{% static 'kredobank.png' %}">
                                {% elif ls_element.bank.code_name == "abank" %}
                                    <img class="pic" width="50" src="{% static 'abank.png' %}">
                                {% elif ls_element.bank.code_name == 'pivdenniy' %}
                                    <img class="pic" width="50" src="{% static 'pivd.png' %}">
                                {% else %}
                                    <img class="pic" width="50" src="{% static 'no_image.png' %}">
                                {% endif %}
                            </i>
                            </td>
                            {% if request.user.is_superuser %}
                                <td class="align-middle">
                                    <button id='{{ ls_element.id }}' type="button" class="btn btn-warning"
                                            data-toggle="modal"
                                            data-target="#Modal" data-id="{{ ls_element.id }}" data-action="view"><i
                                            class="fas fa-eye"></i></button>
                                </td>
                                <td class="align-middle">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#Modal"
                                            data-id="{{ ls_element.id }}" data-action="update"><i
                                            class="fas fa-pencil-alt"></i>
                                    </button>
                                </td>
                                <td class="align-middle">
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                            onclick="del({{ ls_element.id }})" data-action="delete_single"><i
                                            class="fas fa-trash-alt"></i></button>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Rate action</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modalbody">
                    </div>
                </div>
            </div>
        </div>
        </body>
        </html>
        <script type="text/javascript">
            document.getElementById("ratelist").classList.add("active");
            document.title = "Rate list";
            let ids = []
            let moneytype = []
            let sale = []
            let buy = []
            let created = []
            let bank = []
            {% for ls_element in object_list %}
                ids.push('{{ls_element.id}}')
                moneytype.push('{{ls_element.moneytype}}')
                sale.push('{{ls_element.sale}}')
                buy.push('{{ls_element.buy}}')
                created.push('{{ls_element.created}}')
                bank.push('{{ls_element.bank.name}}')
            {% endfor%}
            $('.modal').on('shown.bs.modal', function (e) {
                let action = $(e.relatedTarget).data('action');
                if (action == 'view') {
                    document.getElementById('ModalLabel').innerHTML = 'View'
                    let id = $(e.relatedTarget).data('id');
                    for (let i = 0; i < ids.length; i++) {
                        if (ids[i] == id) {
                            id = i
                        }
                    }
                    if (moneytype[id] == 0) {
                        moneytype[id] = 'USD'
                    } else if (moneytype[id] == 1) {
                        moneytype[id] = 'EUR'
                    }
                    $("#modalbody").append('<div class="card">\n' +
                        '  <div class="card-header">\n' +
                        '    ' + moneytype[id] + '\n' +
                        '  </div>\n' +
                        '  <ul class="list-group list-group-flush">\n' +
                        '    <li class="list-group-item">' + buy[id] + '/' + sale[id] + '</li>\n' +
                        '    <li class="list-group-item">' + created[id] + '</li>\n' +
                        '    <li class="list-group-item">' + bank[id] + '</li>\n' +
                        '  </ul>\n' +
                        '</div>' +
                        '<div class="modal-footer d-block">' +
                        '<button type="button" class="btn btn-secondary float-start" data-dismiss="modal">Close</button>' +
                        '</div>');
                } else if (action == 'update') {
                    document.getElementById('ModalLabel').innerHTML = 'Update'
                    let id = $(e.relatedTarget).data('id');
                    let original_id = id
                    for (let i = 0; i < ids.length; i++) {
                        if (ids[i] == id) {
                            id = i
                        }
                    }
                    $('#modalbody').append('<form id="form_upd" onsubmit="return update()">' +
                        '<div class="mb-3">' +
                        '<label id="data_id">' + original_id + '</label><p>' +
                        '<label class="form-label">Moneytype</label>' +
                        '<input type="text" maxlength="255" class="form-control" id="moneytype" name="bname" required value="' + moneytype[id] + '"/>' +
                        '</div>' +
                        '<div class="mb-3">' +
                        '<label class="form-label">Sale</label>' +
                        '<input type="text" maxlength="255" class="form-control" id="sale" name="subject" required value="' + sale[id] + '"/>' +
                        '</div>' +
                        '<label class="form-label">Buy</label>' +
                        '<input type="text" maxlength="255" class="form-control" id="buy" name="subject" required value="' + buy[id] + '"/>' +
                        '</div>' +
                        '<label class="form-label">Bank</label>' +
                        '<input type="text" maxlength="255" class="form-control" id="bank" name="subject" required value="' + bank[id] + '"/>' +
                        '</div>' +
                        '<div class="modal-footer d-block">' +
                        '<button type="submit" class="btn btn-warning float-end">Update</button>' +
                        '<button type="button" class="btn btn-secondary float-start" data-dismiss="modal">Close</button>' +
                        '</div>' +
                        '</form>');

                }
            })

            function update() {
                let id = document.getElementById('data_id').innerHTML;
                let moneytype = document.getElementById('moneytype').value;
                let sale = document.getElementById('sale').value;
                let buy = document.getElementById('buy').value;
                let bank = document.getElementById('bank').value;
                $.ajax({
                    url: '../' + 'edit' + '/' + id + '/' + moneytype + '/' + sale + '/' + buy + '/' + bank + '/',
                    success: function (data) {
                    }
                })
                setTimeout(function () {
                    document.location.reload();
                }, 200);
                window.location.reload();
            }

            function del(val) {
                $.ajax({
                    url: '../' + 'delete_single' + '/' + val + '/',
                    success: function (data) {
                        window.location.reload();
                    },
                })
            }

            $(".modal").on("hidden.bs.modal", function () {
                $(".modal-body").html("");
                document.getElementById('ModalLabel').innerHTML = ''
            })

            function refreshPage() {
                window.location.reload();
            }
        </script>
    {% else %}
        <div class="card text-center">
            <div class="card-body">
                You are not authorized to view data
                <p>
                <p>
                    <a href="{% url 'accounts:signup' %}" class="btn btn-primary">Sign Up</a>
                <p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
            </div>
        </div>
    {% endif %}
{% endblock body_content %}