{% extends 'template.html' %}
{% block body_content %}
{% load static %}
<div class="row justify-content-center">
   <div class="col-auto">
      <table class="table text-center table-responsive">
         <thead>
            <tr>
               <th scope="col">Date</th>
               <th scope="col">Type</th>
               <th scope="col">Sale/Buy</th>
               <th scope="col">Source</th>
               <th scope="col">
                  <!-- <button type="button" class="btn btn-success">Add new</button>  -->
               </th>
            </tr>
         </thead>
         <tbody>
            {% for ls_element in object_list %}
            <tr>
               <td class="align-middle" scope="row"><small>{{ls_element.created}}</td>
               <td><img width="50" src="{% static 'usd.png' %}"></td>
               <td class="align-middle"><strong><b>{{ls_element.sale}} /
                  {{ls_element.buy}}
               </td>
               <td><i>
                  {% if ls_element.source == "vkurse" %}
                  <img class="pic" width="50" src="{% static 'vkurse.jpg' %}">
                  {% elif ls_element.source == "privatbank" %}
                  <img class="pic" width="50" src="{% static 'privatbank.jpg' %}">
                  {% elif ls_element.source == "monobank" %}
                  <img class="pic" width="50" src="{% static 'monobank.png' %}">
                  {% else %}
                  <img class="pic" width="50" src="{% static 'no_image.png' %}">
                  {% endif %}
               </td>
               <td class="align-middle">
                  <button id='{{ls_element.id}}' type="button" class="btn btn-warning" data-toggle="modal" data-target="#Modal" data-id="{{ls_element.id}}" data-action="view"><i class="fas fa-eye"></i></button>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal" data-id="{{ls_element.id}}" data-action="update"><i class="fas fa-pencil-alt"></i></button>
                  <button type="button" class="btn btn-danger" data-toggle="modal" onclick="del({{ls_element.id}})" data-action="delete_single"><i class="fas fa-trash-alt"></i></button>
               </td>
            </tr>
            {% endfor%}
   </div>
</div>
</table>
<a class="contact"> <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Modal" data-id="" data-action="create"><i class="fas fa-plus-circle"></i></button></a>
<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Rate action</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body" id="modalbody">
         </div>
      </div>
   </div>
</div>
</body>
</html>
<script type="text/javascript">
      document.getElementById("ratelist").classList.add("active");
   document.title = "Rate list";
   let ids = []
   let moneytype = []
   let sale = []
   let buy=[]
   let created=[]
   let source=[]
       {% for ls_element in object_list %}
   ids.push('{{ls_element.id}}')
   moneytype.push('{{ls_element.moneytype}}')
   sale.push('{{ls_element.sale}}')
   buy.push('{{ls_element.buy}}')
   created.push('{{ls_element.created}}')
   source.push('{{ls_element.source}}')
     {% endfor%}
    $('.modal').on('shown.bs.modal', function (e) {
      var action = $(e.relatedTarget).data('action');
   if (action == 'view') {
     document.getElementById('ModalLabel').innerHTML = 'View'
   var id = $(e.relatedTarget).data('id');
     for (var i=0; i<ids.length; i++) {
       if (ids[i] == id) {
         id = i
       }
     }
     $( "#modalbody" ).append('<div class="card">\n' +
             '  <div class="card-header">\n' +
             '    '+moneytype[id]+'\n' +
             '  </div>\n' +
             '  <ul class="list-group list-group-flush">\n' +
             '    <li class="list-group-item">'+ buy[id]+'/'+sale[id]+'</li>\n' +
             '    <li class="list-group-item">'+ created[id]+'</li>\n' +
             '    <li class="list-group-item">'+ source[id]+'</li>\n' +
             '  </ul>\n' +
             '</div>'+
             '<div class="modal-footer d-block">' +
             '<button type="button" class="btn btn-secondary float-start" data-dismiss="modal">Close</button>'+
             '</div>');
   }
      else if (action == 'create') {
     document.getElementById('ModalLabel').innerHTML = 'Add new'
     $('#modalbody').append('<form id="form" method="post"><div class="mb-3">' +
                            `{% csrf_token %}{{form.as_p}}` +
                           '</div><div class="modal-footer d-block"><button type="submit" class="btn btn-warning float-end">Add</button> ' +
                           '<button type="button" class="btn btn-secondary float-start" data-dismiss="modal">Close</button></div></form>');
     document.getElementById("id_moneytype").classList.add("form-control");
     document.getElementById("id_sale").classList.add("form-control");
     document.getElementById("id_buy").classList.add("form-control");
     document.getElementById("id_source").classList.add("form-control");
   }

      else if (action == 'update') {
     document.getElementById('ModalLabel').innerHTML = 'Update'
         var id = $(e.relatedTarget).data('id');
     var original_id = id
     for (var i=0; i<ids.length; i++) {
       if (ids[i] == id) {
         id = i
       }
     }
      $('#modalbody').append('<form id="form_upd" onsubmit="return update()">' +
                    '<div class="mb-3">' +
                    '<label id="data_id">'+original_id+'</label><p>' +
                    '<label class="form-label">Moneytype</label>' +
                    '<input type="text" maxlength="255" class="form-control" id="moneytype" name="bname" required value="'+moneytype[id]+'"/>' +
                    '</div>' +
                    '<div class="mb-3">' +
                    '<label class="form-label">Sale</label>' +
                    '<input type="text" maxlength="255" class="form-control" id="sale" name="subject" required value="'+sale[id]+'"/>' +
                    '</div>' +
                    '<label class="form-label">Buy</label>' +
                    '<input type="text" maxlength="255" class="form-control" id="buy" name="subject" required value="'+buy[id]+'"/>' +
                    '</div>' +
                    '<label class="form-label">Source</label>' +
                    '<input type="text" maxlength="255" class="form-control" id="source" name="subject" required value="'+source[id]+'"/>' +
                    '</div>' +
                    '<div class="modal-footer d-block">' +
                    '<button type="submit" class="btn btn-warning float-end">Update</button>' +
                    '<button type="button" class="btn btn-secondary float-start" data-dismiss="modal">Close</button>'+
                    '</div>' +
                    '</form>');

   }
    })
      function update(){
      var id = document.getElementById('data_id').innerHTML;
      var moneytype = document.getElementById('moneytype').value;
      var sale = document.getElementById('sale').value;
      var buy = document.getElementById('buy').value;
      var source = document.getElementById('source').value;
      $.ajax({
         url: '../' + 'edit' + '/' + id + '/'+ moneytype + '/'+ sale + '/'+ buy + '/'+ source + '/',
         success: function(data){
         }
   })
         setTimeout(function() {   document.location.reload(); }, 200);
      window.location.reload();
   }
       function del(val){
     $.ajax({
         url: '../' + 'delete_single' + '/' + val + '/',
         success: function(data){
            window.location.reload();
         },
   })
   }
    $(".modal").on("hidden.bs.modal", function(){
    $(".modal-body").html("");
    document.getElementById('ModalLabel').innerHTML = ''
    })
    function refreshPage(){
        window.location.reload();
    }
</script>
{% endblock body_content %}