{# Load the tag library #}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<style>
  img {
    border-radius: 50%;
    box-shadow: 5px 5px 5px #ccc;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    -khtml-box-shadow: 5px 5px 5px #ccc;
  }
</style>
<head>
    <meta charset="UTF-8">
    <title>Rate Single Record</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div class="row justify-content-center">
    <div class="col-auto">
      <form class="form">
          ID: {{ single.id }}
          <p>
              <img width="50" src="{% static 'usd.png' %}">
          <p>
          <p>
          Sell: {{ single.sale }}
          <p>
          Buy: {{ single.buy }}
          <p>
          {% if single.source == "vkurse" %}
            <img width="50" src="{% static 'vkurse.jpg' %}">
            {% elif single.source == "privatbank" %}
            <img width="50" src="{% static 'privatbank.jpg' %}">
            {% elif single.source == "monobank" %}
            <img width="50" src="{% static 'monobank.png' %}">
            {% endif %}
          <p>

          {% if single.source == "vkurse" %}
            <a href="http://vkurse.dp.ua/" target="_blank">Source link</a>
            {% elif single.source == "privatbank" %}
            <a href="https://next.privat24.ua/" target="_blank">Source link</a>
            {% elif single.source == "monobank" %}
           <a href="https://www.monobank.ua/" target="_blank">Source link</a>
            {% endif %}
        </form>
    </div>
</div>
</body>
</html>