{# Load the tag library #}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Type</th>
      <th scope="col">Buy</th>
      <th scope="col">Sale</th>
    </tr>
  </thead>
  <tbody>
  {% for ls_element in ls %}
    <tr>
      <th scope="row">{{ls_element.id}}</th>
      <td>{{ls_element.moneytype}}</td>
      <td>{{ls_element.buy}}</td>
      <td>{{ls_element.sale}}</td>
    </tr>
  {% endfor%}
  </tbody>
</table>
</body>
</html>