{% extends 'template.html' %}
{% block body_content %}

    <body>
    <div class="card" style="width: 18rem; margin:0 auto">
    <div class="card-body">
        <form id="form" method="post">
            <div class="mb-3">
                <h2>Sign up</h2>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    <div class="modal-footer d-block">
                        <button type="submit" class="btn btn-warning float-end">Create</button>
                    </div>
                </form>
            </div>
    </div>
{% endblock body_content %}
</body>
</html>
